<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="vue.js"></script>
  </head>

  <body>

  <div id="body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
  
        <!-- Eliminamos por completo el elemento -->
        <h3 v-if="nombre">Hola, {{ nombre }}</h3>
  
        <!-- Oculatmos el elemento -->
        <h3 v-show="nombre">Hola, {{ nombre }}</h3>

        <span v-show="nombre">
          <!-- Oculatmos el elemento -->
          <h3>Hola, {{ nombre }}</h3>
          <p>Mostramos u ocultamos todo el span</p>

        </span>

        <!-- Solo para ocultar con directivas a varios elementos -->
        <template v-if="nombre">
          <!-- Oculatmos el elemento -->
          <h3>Hola, {{ nombre }}</h3>
          <p>Mostramos uo quitamos todo el span</p>

          <h3>{{ genero == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ nombre.split('').reverse().join('') }}</h3>
          <p>Damos la vuelta a tu nombre</p>

        </template>

        <p v-else="nombre"> Por favor, introduce tu nombre</p>

        <!-- <form method="get" accept-charset="utf-8"> -->
        <form @submit.prevent="singUp(false)">

        
          <input type="text" v-model="nombre" name="" class="form-control">

          <!-- Se puede ponerel if también así: v-if="!nombre" -->
          <p v-if="nombre == ''" class="alert alert-warning" role="alert">
              <strong>Antención!</strong> Es encesario que introduzca su nombre.
          </p>


          <p v-if="nombre.length < 2" class="alert alert-warning" role="alert">
              <strong>Antención!</strong> El nombre tiene que ser más largo.
          </p>
            

          <label>
            Hombre <input type="radio" name="genero" v-model="genero" value="m" placeholder="">
          </label>


          <label>
            Mujer <input type="radio" name="genero" v-model="genero" value="f" placeholder="">
          </label>
          
          <hr>
            
            <p>¿Cuantos años de experiencia tienes en VUE.JS?</p>
            <p>Tienes: {{ experiencia }}</p>

            <button type="button" class="btn" @click="sumarExperiencia()"> + </button>
            <button type="button" class="btn" @click="restarExperiencia()"> - </button>
            <button type="button" class="btn" v-blind:disabled="experiencia == 0" @click="restarExperiencia()"> - sin IF</button>
            <button type="button" class="btn" :disabled="experiencia == 0" @click="restarExperiencia()"> - sin v-blind</button>

          
          <hr>

          <label v-show="nombre">
            <button type="submit" class="btn btn-primary" v-on:click.prevent="singUp">Registrarse prevent</button>
            <button type="submit" class="btn btn-primary" @click.prevent="singUp">Registrarse @</button>
            <button type="submit" class="btn btn-primary" v-on:click.stop="singUp">Registrarse stop</button>
            <button type="submit" class="btn btn-primary">Registrarse sin v-on</button>
            <button type="submit" class="btn btn-primary">Registrarse sin v-on</button>
            <button type="submit" class="btn btn-primary" @click="singUp(true, $event)">Registrarse y salir</button>
          </label>

        </form>
    
        <hr>
        <pre>
          {{ $data }}
        </pre>
        

        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

  </div>
  </body>
<script>
  /*
    $(document).ready(function() {
      $('#nombre').keyup(function() {
        $('#titulo').text('Bienvenido ' + $('#nombre').val())
      });
    })
    */

    new Vue({
    
      el: "#body",
      data:{
        nombre: "Alejandro Zorita",
        genero: 'f',
        experiencia: '0'
      },
      methods: {
        singUp: function(logout, event)
          {
            event.preventDefault()
          alert(this.nombre + ' gracias por registrarte');

          if(logout)
          {
            alert('has hecho logout');
          }
        },
        sumarExperiencia: function()
          {
            this.experiencia++;
        },
        restarExperiencia: function()
          {
          if(this.experiencia > 0)
          {
            this.experiencia--;
          }
        }
      }
    
    })
  </script>
</html>


