<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso VUE.js Alejandro Zorita</title>
</head>

<body>

    <main>
        <h2>{{ nombre }}, Estás correcto</h2>
        <h2>{{ nombre.split(' ').reverse().join(', ') }}, Estás al reves</h2>
        <h2>{{ nombre_al_reves }}, Estás al reves</h2>


        <ul>
            <li v-if="tarea.prioridad" v-for="tarea in tareas">
                {{ tarea.nombre }}
            </li>
        </ul>


        <ul>
            <li v-for="tarea in tareas_con_prioridad">
                {{ tarea.nombre }}
            </li>
        </ul>

        <ul>
            <li v-for="tarea in tareas_por_antiguedad">
                {{ tarea.nombre }}
            </li>
        </ul>

        <pre>{{ $data }}</pre>
    </main>

</body>
<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="js/main.js"></script>

</html>